In [1]:
import pandas as pd
import numpy as np

In [2]:
a = pd.DataFrame(np.arange(9).reshape(3,3),columns=list('abc'),index=list('abc'))
a

   a  b  c
a  0  1  2
b  3  4  5
c  6  7  8

In [9]:
a.loc['a','a']=np.nan

In [10]:
a

     a  b  c
a  NaN  1  2
b  3.0  4  5
c  6.0  7  8

a    False
b     True
c    False
Name: a, dtype: bool