In [3]:
import pandas as pd
import numpy as np

# pd.Series

In [ ]:
sdata = {'Ohio': 35000,'Texas':71000,'Oregon':16000,'Utah':5000}
states = ['California', 'Ohio','Oregon', 'Texas']

In [34]:
obj  = pd.Series([4, 7, -5, 3])                           # crear una serie
obj2 = pd.Series([4, 7, -5, 3], index=['d','b','a','c'])# crear una serie con indices diferentes a los default
obj3 = pd.Series(sdata)                                 # crear una serie de un diccionario
obj4 = pd.Series(sdata,index=states)        # crea una serie de un diccionario pero solo con los indices que coincidan

# Atributos

In [ ]:
obj2.values#array([ 4,  7, -5,  3])
obj.index  #RangeIndex(start=0, stop=4, step=1)
obj2.index #Index(['d', 'b', 'a', 'c'], dtype='object')
obj2['a']  #-5
obj2[['a','b']]  """a   -5      también se puede pasar una lista de indices
                    b    7
                    dtype: int64"""
obj.iloc[3] #busca por posición en la serie
obj.loc['a'] #busca por nombre en la serie
obj4.name= 'population' #nombre de los valores
obj4.index.name='state' #nombre del index
obj.isnull() obj.notnull() #devuelve bool con los valores vacios de la serie también usado como pd.isnull(obj)
obj.head()   #muestra los primeros 5 elementos de la serie

# Operaciones con series

In [ ]:
obj * n #multiplica todos los valores de la lista por n
obj2[obj2>0]  #devuelve una serie de booleanos
obj3 + obj4   #suma los que conincidan en indice 
x in obj3     #devuelve un bool para x en los index

# DataFrame

In [4]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
 'year': [2000, 2001, 2002, 2001, 2002, 2003],
 'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame = pd.DataFrame(data,index=['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'])
frame.head()

         state  year  pop
Ohio      Ohio  2000  1.5
Ohio      Ohio  2001  1.7
Ohio      Ohio  2002  3.6
Nevada  Nevada  2001  2.4
Nevada  Nevada  2002  2.9

In [11]:
import pandas as pd
df=pd.DataFrame({'a':[1,2,3],'b':['a','b','c']},index=['a','b','c'])
df

   a  b
a  1  a
b  2  b
c  3  c