In [2]:
import pandas as pd

# pd.dataframe

In [ ]:
pd.DataFrame([serie_a,serie_b],index=['fila1','fila2'])"""tiene el parametro de las filas que son
                                                               series o diccionarios y que las columnas
                                                               seran los indices que coincidan"""

# Dataframe attributes and functions

In [ ]:
df['nombre de la columna']
df.loc['indice de fila']
df.loc['indice de fila','nombre de columna']
df.loc[:,[lista de nombres de columnas]] #loc permite hacer slice
df.iloc[indice de la fila en valor entero]  #muestra la final numero tal
df.T #transpone la matriz
df.T.loc['nombre de columna']
df.drop('indice de la fila')  #devuelve una copia con el indice de la fila removido
df.drop('indice de la fila', inplace=True) #Elimina el valor del dataset original
df.drop('Columna_name',inplace=True,axis=1) #sirve para eliminar una columna
df.drop('Fila',inplace=True)     #sirve para eliminar una fila 
del df['Columna_name']    #sirve para eliminar columna tambien
df['nueva columna'] = [lista] o non # para añadir columna
df.loc['nueva fila']= [lista]   # para añadir nueva fila
df.columns # lista con las columnas
df.set_index('N') #cambiar indice a columna

In [5]:
students = [{'Name': 'Alice',
              'Class': 'Physics',
              'Score': 85},
            {'Name': 'Jack',
             'Class': 'Chemistry',
             'Score': 82},
            {'Name': 'Helen',
             'Class': 'Biology',
             'Score': 90}]
df = pd.DataFrame(students, index=['school1', 'school2', 'school3'])
df

          Name      Class  Score
school1  Alice    Physics     85
school2   Jack  Chemistry     82
school3  Helen    Biology     90

### Reindexing
Calling reindex on this Series rearranges the data according to the new index, intro‐
ducing missing values if any index values were not already present. 
It returns a copy of the data base

In [7]:
df.reindex(['school1','school5','colegio','school2'])

          Name      Class  Score
school1  Alice    Physics   85.0
school5    NaN        NaN    NaN
colegio    NaN        NaN    NaN
school2   Jack  Chemistry   82.0